body{
font-family: 'poppins', sans-serif;
margin: 0;
}
samp{
      color: orange;
  }  

.conte{
display: flex;
}
.hero{
width: 50%;
margin: 20px 80px;
padding: 5px;
}
.hero img{
height: 500px;
}
.link-batton{
    text-decoration: none;
    background-image:radial-gradient(orange, tomato );
    padding: 10px 20px;
    border-radius: 10px;
}
.img{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.food-world{
background-image: url(images/shapes/Frame\ 59.jpg);
background-repeat: no-repeat;
}
.recev{
    align-items: center;
    display: inline-block;
    display: flex;
    margin: 10px 20px;
    padding: 20px 0;
}
recev img{
width: 30%;
height: 80%;
}

